body {
  background-color: rgba(9, 248, 248, 0.279);
}

header {
  text-align: center;
}

.links {
  text-align: right;
  font-size: 20px;
}

a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;

}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px;
}

.index-text {
 margin: 30px;
 font-size: 30px;
}

.buttons {
 text-align: center;
}

.add-sub {
 margin: 15px;
}

.mul-div {
  margin: 15px;

}

hr {
  display: block;
  border: 0;
  border-top: 5px solid black;
}

h1, h2 {
  color: rgba(115, 205, 92, 0.785);
}

p {
  text-align: center;
}

h3 {
  text-align: center;
}

.image {
text-align: center;
}

.previous-score {
  margin-top: 20px;
}

table {
  border: hotpink solid 3px;
  background-color: pink;
  padding: 50px;
  width: 450px;
}

.add-table {
  margin-left: auto;
  margin-right: auto;
}

.score-button {
  text-align: center;
  margin-top: 20px;
}

.addition-header {
 text-align: center;
}

footer {
  text-align: center;
  margin: 10%;
}

.instruct {
border: hotpink solid 3px;
background-color: pink;
width: 500px;
margin-left: auto;
margin-right: auto;
}

.game-problems {
  text-align: center;
}

#answer {
  border: hotpink solid 3px;
background-color: pink;
margin-left: auto;
margin-right: auto;
margin: 15px;
}

#score {
  border: rgba(80, 168, 56, 0.785) solid 3px;
  background-color: rgba(115, 205, 92, 0.785);
  margin: 15px;
  margin-left: auto;
margin-right: auto;
  width: 65px;
  text-align: center;
}

#timer {
  text-align: center;
}